<h1>Episode {{ episode.episode }}</h1> 

<form action="{% url 'search_results' %}" method="get">
    <input name="search_str" type="text" placeholder="Search...">
</form>  

{% block content %}
  <table>
    <tr>
        <th>Name</th>
        <td>{{episode.name}}</td>
    </tr>
    <tr>
        <th>Episode</th>
        <td>{{episode.episode}}</td>
    </tr>
    <tr>
        <th>Air Date</th>
        <td>{{episode.air_date}}</td>
    </tr>
    <tr>
        <th>Characters</th>
        <td>
            <ul>
                {% for character in characters %}
                    <li><a href="{% url 'character_detail' character.id%}">{{character.name}}</a></li>
                {% endfor %}
            </ul>
        </td>
        
    </tr>
  </table>
{% endblock %}